* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

.App {
	display: flex;
	width: 600px;
	margin: 15px auto;
	align-items: flex-start;
	justify-content: space-between;
}

.user-list,
.user-details {
	border: 1px solid #CFCFCF;
}

.user-list {
	width: calc(50% - 20px);
}

.user-details {
	width: 50%;
}

.user-item,
.user-info {
	padding: 15px;
}

.user-item:not(:last-child),
.user-info:not(:last-child) {
	border-bottom: 1px solid #CFCFCF;
}

.user-item:hover {
	cursor: pointer;
}

.user-name {
	font-size: 20px;
	padding-bottom: 30px;
}